[submodule "Submodulo-Red-social-Juego"]
	path = Submodulo-Red-social-Juego
	url = https://github.com/albertogarf91/Submodulo-Red-social-Juego
[submodule "Submodulo-Red-social-Analytics"]
	path = Submodulo-Red-social-Analytics
	url = https://github.com/luishexen/Submodulo-Red-social-Analytics
[submodule "CloudComputingProject"]
	path = CloudComputingProject
	url = https://github.com/alcasla/CloudComputingProject
[submodule "CCProyect"]
	path = CCProyect
	url = https://github.com/lrdzero/CCProyect
[submodule "CloudComputingRedSocial"]
	path = CloudComputingRedSocial
	url = https://github.com/JaviSG91/CloudComputingRedSocial
